<section>
    <div class="container6">
        <h1 class="heading">Horizontal</h1>
        <div class="horizbar">
            <div class="bar">
                <div class="info">
                    <span>Html</span>
                </div>
                <div  class="progrline">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span> Css</span>
                </div>
                <div class="progrcss">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span> jQuery</span>
                </div>
                <div class="progrjQuery">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span> Python</span>
                </div>
                <div class="progrPython">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span> MySQL</span>
                </div>
                <div class="progrMySQL">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container7">
        <h1 class="hesding">Radial Bars</h1>
        <div class="radibars">
            <div class="radiabar">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progressbar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percent">90%</div>
                <div class="text">Creativity</div>
            </div>
            <div class="radiabar">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progressbar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percent">65%</div>
                <div class="text">Comunication</div>
            </div>

            <div class="radiabar">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progressbar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percent">75%</div>
                <div class="text">Problem Solving</div>
            </div>

            <div class="radiabar">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progressbar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percent">85%</div>
                <div class="text">TeamWork</div>
            </div>

        </div>

    </div>
</section>