<section>
    <div class="container6">
        <h1 class="heading">Horizontal</h1>
        <div class="horizbar">
            <div class="bar">
                <div class="info">
                    <span>Html</span>
                </div>
                <div  class="progrline">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span> Css</span>
                </div>

            </div>
        </div>
    </div>
</section>