*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    min-height: 100vh;
    background-color: #131416;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 10px;
}

::selection{
    background-color: #000;
    color: #129cff;
}

section{
    display: flex;
    flex-wrap: wrap;
}

.container6{
    width: 500px;
    height: 600px;
    padding: 25px 30px;
}

.heading{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.horizbar{
    margin: 40px 0;
}


.horizbar .bar:first-child{
    margin-top: 0;
}

.horizbar .bar:last-child{
    margin-bottom: 0;
}


.horizbar .bar .info{
    margin-bottom: 5px;
}

.horizbar .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.horizbar .bar .progrline{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.horizbar .bar .progrline span{
    height: 100%;
    background-color: #129cff;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progrline .html samp{
    width: 90%;
}

.progrline .css span{
    width: 60%;
}

.progrline .jQuery span{
    width: 85%;
}

.progrline .python span{
    width: 50%;
}

.progrline .mysql span{
    width: 75%;
}